@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-width: thin; /* Set scrollbar width for Firefox */
    font-family: 'Inter', system-ui, sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf');
}
